<h1>
  Pacific Beer Expo
  <button class="right" onclick="$('form').submit()">Login</button>
</h1>

<p>
  The unofficial Pacific Beer Expo app. Create an account or login using
  the form below.
</p>

<%= form_tag sessions_path do %>

  <hr />
  
  <p class="f">
    <%= text_field_tag :name, '', :placeholder => "Username" %>
  </p>
  
  <p class="f">
    <%= password_field_tag :password, '', :placeholder => "Password" %>
  </p>
<% end %>
  
<!-- <p>
  <%= link_to 'Login with Twitter', '/auth/twitter', :class => 'button' %>
</p> -->
