<h1>
  Beervana
</h1>

<p>
  The unofficial beervana app made by the friendly developers 
  at <%= link_to "Powershop", "http://www.powershop.com" %>. We are <%= link_to "hiring", "http://www.powershop.com/culture/" %>.
</p>

<p>
  <%= link_to 'Login with Twitter', '/auth/twitter', :class => 'button' %>
</p>
